@main-div-height: 800px;

.main {
  min-height: @main-div-height;
}

.item {
  float: left;
  min-height: 30px;
  min-width: 100%;
  margin: 10px;
  background: #EEE;
}

//#search {
//  font-size: 18px;
//}
//
//#search label {
//  position: absolute;
//  left: 30px;
//  top: 10px;
//}
//
//#search #search-input, #search .hint {
//  padding-left: 43px;
//  padding-right: 43px;
//  border-radius: 23px;
//}
//
//.input-lg {
//  height: 46px;
//  padding: 10px 16px;
//  margin-top: 10px;
//  font-size: 18px;
//  line-height: 1.3333333;
//  border-radius: 6px;
//}